body {
  text-align: center;
  font-family: sans-serif;
}

.introduction {
  padding: 5px;
  color: white;
  font-weight: 300;
  font-size: 10px;
  background-color: green;
  position: fixed;
  top: 140px;
  left: 10%;
}
.line {
  width: 3px;
  height: 85px;
  background-color: green;
  position: fixed;
  top: 160px;
  left: 12%;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  position: fixed;
  top: 240px;
  left: 11.8%;
}
.one_six {
  padding: 5px;
  color: white;
  font-weight: 300;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  background-color: green;
  position: fixed;
  top: 110px;
  left: 20%;
}
.line1 {
  width: 3px;
  height: 130px;
  background-color: green;
  position: fixed;
  top: 130px;
  left: 21.5%;
}
.circle1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  position: fixed;
  top: 250px;
  left: 21.2%;
}
.rbEnergy {
  padding: 5px;
  color: white;
  font-weight: 300;
  font-size: 10px;
  background-color: green;
  position: fixed;
  top: 80px;
  right: 10%;
}

.line2 {
  width: 3px;
  height: 150px;
  background-color: green;
  position: fixed;
  top: 90px;
  right: 10%;
}
.circle2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  position: fixed;
  top: 240px;
  right: 9.8%;
}
.rbEmpathy {
  padding: 5px;
  color: white;
  font-weight: 300;
  font-size: 10px;
  background-color: brown;
  position: fixed;
  top: 120px;
  right: 15%;
}

.line3 {
  width: 3px;
  height: 100px;
  background-color: brown;
  position: fixed;
  top: 140px;
  right: 15%;
}
.circle3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: brown;
  position: fixed;
  top: 235px;
  right: 15%;
}
.polite {
  padding: 5px;
  color: white;
  font-weight: 300;
  font-size: 10px;
  background-color: blue;
  position: fixed;
  top: 160px;
  right: 18%;
}

.line4 {
  width: 3px;
  height: 60px;
  background-color: blue;
  position: fixed;
  top: 180px;
  right: 18%;
}
.circle4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  position: fixed;
  top: 240px;
  right: 17.8%;
}

#main {
  height: 40vh;
  width: 99vw;
  margin: auto;
  padding: 0%;
  background-color: whitesmoke;
  border-bottom: 5px solid;
}

#myCanvas {
  height: 80%;
  width: 100%;

  padding: 5% 2px 0px 0px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.musicCont {
  margin-top: 20px;
}
.action_btn {
  background-color: white;
  color: rgb(56, 201, 236);
  border: 1px solid rgb(56, 201, 236);
  border-radius: 15px;
  cursor: pointer;
  font-size: 10px;
  padding: 5px 20px;
}
.play {
  font-size: 22px;
}
